*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/markdown-doclet.xml
.DS_Store
/build
/app/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx

/gradle/wrapper/gradle-wrapper.jar
